.THIS slds-modal__container {
   margin: 0 auto;
    width: 50% !important;
    max-width: 75rem;
    min-width: 20rem;
    height: 315px !important;
}
.THIS slds-scrollable{
background: rgb(201, 199, 197);
}
.THIS .siteforcePanelsContainer .slds-modal__content {
    /*overflow: auto;*/
}