.THIS.rightCSS{
    margin-left: 985px;
    margin-top: -101px;
    width: 321px;
    height: 32px;
}
.THIS.error{
    font-size: small;font-weight: 600;
}
.THIS.duplicate{
    font-size: small;font-weight: 600;
}
.THIS.success{
    font-size: small;font-weight: 600;
}
.THIS.buttonCss{
    margin-top: 10px;
}
.THIS .LabelCss {
    color: red;
    margin-left: 3%;
    margin-top: -1.4%;
}