.THIS {
    
    height: 230px;
    width: 350;
    position: relative;
    
}
.THIS.chart-container{
	font-size : 15px;
 	color: #333231;
  	margin: 20px auto;
    font-family: Lato;
 	
}
.THIS.Fontsize{
font-size : 15px;
 color: #333231;
    font-family: Lato;
}