<apex:page standardController="Case" extensions="AdvisoryAndSquarePartController">
    
    <style>
        
        .Advisory{
        color: red;
        font-weight: 700;
        font-size: 12px;
        margin-left: 5px;    
        }
        .sparePart{
        color: red;
        font-weight: 700;
        font-size: 12px;
        margin-left: 5px;    
        }
        .custPopup{
        background-color: white;
        border-width: 2px;
        border-style: solid;
        z-index: 9999;
        left: 50%;
        padding:10px;
        position: absolute;
        /* These are the 3 css properties you will need to change so the popup 
        displays in the center of the screen. First set the width. Then set 
        margin-left to negative half of what the width is. You can add 
        the height property for a fixed size pop up if you want.*/
        width: 500px;
        margin-left: -250px;
        top:100px;
        margin-top: -76px;
        }
        .popupBackground{
        background-color:black;
        opacity: 0.20;
        filter: alpha(opacity = 20);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9998;
        }
    </style>
    
    
    <apex:form >
        <apex:outputPanel rendered="{! If(advisory!='' ,true,false) }">
            <apex:outputText value="{!advisoryHelpText}" style="color: black;font-weight: 700;font-size: 12px;"/><apex:commandLink action="{!advisoryMethod}" value="{!advisoryLabel}" styleClass="Advisory" reRender="advisoryPopup">
                <apex:param name="keyId" value="{!currentRecordId}"/>
            </apex:commandLink>
        </apex:outputPanel>
        <br/><br/> <apex:outputPanel rendered="{! If(sparePart!='' ,true,false) }">
          <apex:outputText value="{!sparePartHelpText}" style="color: black;font-weight: 700;font-size: 12px;"/><apex:commandLink action="{!squarePartMethod}" value="{!sparePartLabel}" styleClass="sparePart" reRender="squarePartPopup">
                <apex:param name="keyId1" value="{!currentRecordId}"/>
            </apex:commandLink>
        </apex:outputPanel>
        
        
        <apex:outputPanel id="advisoryPopup">
            <apex:outputPanel layout="block" rendered="{!displayPopUp}">
                <script>
                debugger;
                alert('{!JSENCODE(advisoryText)}');
                </script>
            </apex:outputPanel>
        </apex:outputPanel>
        
        <apex:outputPanel id="squarePartPopup">
            <apex:outputPanel layout="block" rendered="{!displayPopUp}">
                <script>
                debugger;
                alert('{!JSENCODE(sparePartText)}');
                </script>
            </apex:outputPanel>
        </apex:outputPanel>
        
        
    </apex:form> 
</apex:page>